body {
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/bg1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
}

body.store-bg {
    background-image: url('/egg-shop.png'); // this will override bg1.png
}

body.bg-pomodoro {
    overflow-y: hidden;
}

body.bg-fireflies {
    overflow-y: hidden;
}

body.bg-forest {
    overflow-y: hidden;
}

body.bg-dark-forest {
    overflow-y: hidden;
}

body.bg-mountain {
    overflow-y: hidden;
}

body.bg-beach {
    overflow-y: hidden;
}
