.egg-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 10px;
  max-width: 500px;

  .toggle-wrapper {
    position: relative;
    width: 200px;
    height: 40px;
    background: #ddd;
    border-radius: 20px;
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;

    .slider {
      position: absolute;
      width: 50%;
      height: 100%;
      background-color: #cb4300;
      border-radius: 20px;
      transition: transform 0.3s ease;
      z-index: 0;

      &.egg {
        transform: translateX(0%);
      }

      &.pet {
        transform: translateX(100%);
      }
    }

    .toggle-btn {
      flex: 1;
      border: none;
      background: none;
      z-index: 1;
      font-size: 1rem;
      color: #333;
      cursor: pointer;
      transition: color 0.3s ease;

      &.active {
        color: white;
        font-weight: 600;
      }
    }
  }

  .egg-tier {
    font-size: 2rem;
  }

  .egg-img {
    width: 350px;
    height: 350px;
    object-fit: contain;
  }

  .progress-bar {
    width: 100%;
    height: 16px;
    background: #ddd;
    border-radius: 8px;
    overflow: hidden;
    position: relative; 
  
    .progress {
      height: 100%;
      width: 80%;
      background-color: #cb4300;
      transition: width 0.4s ease;
    }
  
    .progress-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 
      z-index: 1;
    }
  }
  
}
