.list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffedc9c0;
    padding: 10px;
    max-width: 500px;
    flex: 1;
    border-radius: 10px;

    .add-list-item {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .list-input {
            background-color: rgba(245, 245, 245, 0.255);
            border: 1px solid salmon;
            border-radius: 5px;
            color: #7d4c2d;
            padding: 10px;
            font-family: 'Press Start 2P', cursive;
        }

        .list-add {
            background-color: #cb4300;
            border: 1px solid salmon;
            border-radius: 5px;
            color: whitesmoke;
            padding: 10px;
            cursor: pointer;
            transition: background 0.3s ease;
            font-family: 'Press Start 2P', cursive;

            &:hover {
                background-color: #b65b23;
            }
        }
    }

    .list-title {
        font-size: 1.2rem;
    }

    .list {
        list-style: none;
        display: flex;
        flex-direction: column;
        max-height: 400px;
        overflow-y: auto;
        padding: 5px;

        &::-webkit-scrollbar {
            width: 8px; // change to your preference
          }
        
          &::-webkit-scrollbar-track {
            background: transparent; // or a light gray
          }
        
          &::-webkit-scrollbar-thumb {
            background-color: #cb4300; // or your brand color
            border-radius: 20px;
            border: 2px solid transparent;
            background-clip: content-box;
          }
        
          &::-webkit-scrollbar-thumb:hover {
            background-color: #a63200;
          }
        

        .list-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1rem;


            .list-item-buttons {
                display: flex;
                margin-left: 10px;

                .list-button {
                    background-color: transparent;
                    border: none;
                    color: #7d4c2d;
                    cursor: pointer;
                }
            }
        }
    }
}